<!-- i need to make the following:
resume -->
<div id="about_container_wrapper" >
	<div id="about_container">
		<h1 class="about_headers">About</h1>
		<ul id="skill_list" class="about_sections">
			<li><h3 id="whtiknw">What I know:</h3></li>
			<li>Ruby on Rails</li>
			<li>JavaScript</li>
			<li>jQuery</li>
			<li>AngularJS</li>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>Bootstrap/Foundation</li>
			<li>SASS</li>
			<li>BDD/TDD</li>
			<li>PostgreSQL</li>
			<li>MongoDB</li>
			<li>Firebase</li>
			<li>Git/Github</li>
			<li>Adobe Photoshop</li>
			<li>Adobe Illustrator</li> 
			<li>Adobe InDesign</li>
			<li>Ableton Live Suite</li>
			<li>Google Analytics</li>
			<li>Qualtrics</li>
		</ul>
		<div id="right_about" class="about_sections" >
			<div id="bio_container">
					<p id="bio" >Howdy! I'm a graphic designer turned programmer with a degree in business from USC. I found coding as a fun way to kill time on the side. I read a lot about coding and utilized other online resources, but... I needed more depth. So, I enrolled into an immersive programming school called General Assembly. After a few months of 60-70hr weeks, multiple all-nighters, and no social life, I am fully stacked to make awesome web apps. Call me a Drogrammer (designer + programmer). I love loud music, clean and simple code/design, pizza, & learning new things. Let's make something wicked.</p>
			</div>
			<div id="resume_wrapper">
				<%= image_tag "x2.svg", id: "x_out_resume" %>
				<div class="zoom" id="my_resume">
					<%= image_tag "Resume13_zoom.png", id: "resume_img" %>
				</div>
			</div>
			<div id="resmus_wrapper">
				<%= image_tag "resume_icon.svg", id: "resume_btn", class: "resume_music_btns" %>
				<%= image_tag "music.svg", id: "music_btn", class: "resume_music_btns" %>
				<div id="music_caption">
					click this then press play to hear some of my music
				</div>
				
				<!-- plangular player -->
	      <div id="song_player" plangular data-src="https://soundcloud.com/ripleemusic/sets/selected-works" class="resume_music_btns">
	      	<div class="media">
		      	<a href="" ng-click="player.previous(playlist)">
		      		<%= image_tag "prev.svg", class: "playback_controls" %>
		      	</a>
					  <a href="" ng-click="player.playPlaylist(playlist)" ng-hide="player.tracks == playlist.tracks && player.playing">
					  	<%= image_tag "play_song.svg", class: "playback_controls" %>
					  </a>
					  <a href="" ng-click="player.pause()" ng-show="player.tracks == playlist.tracks &amp;&amp; player.playing">
					  	<%= image_tag "pause.svg", class: "playback_controls" %>
					  </a>
					  <a href="" ng-click="player.next(playlist)">
					  	<%= image_tag "next.svg", class: "playback_controls" %>
					  <progress value="{{ currentTime / duration }}" ng-click="seekTo($event)">
					  	{{ currentTime / duration }}
					  </progress>
				    <small style="color: white;">{{ currentTime | playTime }} | {{ duration | playTime }}</small>
			    </div>
				  
				  <div id="playlist_container" class="media">
					  <ul id="playlist">
					  	<!-- hide songs that aren't being played -->
					  	<li ng-repeat="track in playlist.tracks" class="track_name">
					  		<a href="" ng-click="player.play(playlist.tracks, $index)" ng-hide="track != player.playing" ng-show"track == player.paused" style="color: white;">
					  			<p>Riplee - {{ track.title }}</p>
		            </a>
		          </li>
					  </ul>
				  </div>

				</div>
				<!-- end of plangular player -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {

		var overlay = jQuery('<div id="overlay"> </div>');
		var mr = $("#my_resume");
		var xOut = $('#x_out_resume');
		overlay.appendTo(document.body);
		overlay.hide();

		mr.hide();
		mr.zoom();

		xOut.hide();

		
		$("#resume_btn").click(function(event){
    	event.preventDefault();
    	overlay.fadeIn(200);
      mr.fadeIn(600);
      xOut.fadeIn(600);
    });

    xOut.click(function(event){
    	event.preventDefault();
      $(this).fadeOut(600);
      overlay.fadeOut(900);
      mr.fadeOut(600);
    });

    $('#song_player').hide();
		$('#music_caption').hide();

		$('#music_btn').mouseenter(function(event) {
			event.preventDefault();
			$('#music_caption').show(100);
			$(this).click(function(event) {
				$('#song_player').show(200);
			});
		});

		$('#music_btn').mouseout(function(event) {
			event.preventDefault();
			$('#music_caption').hide(150);
		});



	});
</script>