<section id="works_container_wrapper" >
	<div id="stars_container_1"></div>
	<div id="stars_container_2"></div>
	<div id="works_container">
		<h1 class="section_headers">Selected Works</h1>

		<ul class="works">
		  <li class="work_piece">
		  	<h4 class="piece_titles">HearHere - A sound library slash sample pad</h4>
		  	<%= link_to "Visit ►", "http://hear-here.herokuapp.com/", target: "_blank", class: "site_links" %>
		  	<%= image_tag "hearhereweb.png", class: "hearhere" %>
		  </li>
		  <li class="work_piece">
		    <h4 class="piece_titles">Half Gap - A mobile friendly app that geolocates two
		    	users to find a place of interest equidistantly between them.</h4>
		    <%= link_to "Visit ►", "#", target: "_blank", class: "site_links" %>
		    <%= image_tag "halfgapweb.png", class: "hearhere" %>
		  </li>
		  <li class="work_piece">
		    <h4 class="piece_titles">Pausm - A stackoverflow for music producers.</h4>
		    <%= link_to "Visit ►", "http://pausm.herokuapp.com/", target: "_blank", class: "site_links" %>
		    <%= image_tag "pausmweb.png", class: "hearhere" %>
		  </li>
		  <li>
		    <h4 class="piece_titles">This Site - My portfolio!</h4>
		    <%= link_to "Visit ►", "http://randyrollog.com/", target: "_blank", class: "site_links", id: "portfolio_link" %>
		    <%= image_tag "portfolioweb.png", class: "hearhere" %>
		  </li>
		</ul>

	</div>
</section>