<%= render 'layouts/navbar' %>

<!-- <div id="prompt_form">
	<form>
		<input type="text" value="Your Name" id="name_prompt" class="input_prompts"><br>
		<input type="text" value="Your Number" id="number_prompt" class="input_prompts"><br>
		<input type="submit" value="Cool">
	</form>
</div> -->

<div id="home_container_wrapper" >
	
	<div class="home_container">
		<h1 id="greeting_header">Hey there, I'm Randy.</h1>
		<div id="tagline_wrapper">
			<h3 class="tagline_content">check out my works </h3>
			<a href="#works" data-menu-top="216"><span class="glyphicon glyphicon-circle-arrow-down tagline_content"></span></a>
		</div>
		

		<%= render "form" %> 

	</div>
</div>

<!-- waves n shit -->
<%= image_tag "back_wave.svg", id: "back_wave",class: "waves" %>
<%= image_tag "mid_wave.svg", id: "mid_wave", class: "waves" %>
<%= image_tag "front_wave.svg", id: "front_wave", class: "waves" %>

<%= render "works" %>

<%= render "about" %>

<%= render "contact" %>

<footer></footer>