<%= render 'layouts/navbar' %>

<div id="home_container_wrapper">
	<div class="home_container">
		<h1 id="greeting_header">Hey there, I'm Randy.</h1>
		<div id="tagline_wrapper">
			<h3 class="tagline_content">check out my works </h3>
			<a href="#works" data-menu-top="260"><span class="glyphicon glyphicon-circle-arrow-down tagline_content"></span></a>
		</div>
		<!-- <div id="resume_wrapper">
			<%#= image_tag "x2.svg", id: "x_out_resume" %>
			<div class="zoom" id="my_resume">
			  <%#= image_tag "Resume13_zoom.png", id: "resume_img" %>
			</div>
		</div>-->

		<%= render "form" %> 

	</div>
</div>

<!-- waves n shit -->
<img src="assets/back_wave.svg" id="back_wave" class="waves">
<img src="assets/mid_wave.svg" id="mid_wave" class="waves">
<img src="assets/front_wave.svg" id="front_wave" class="waves">

<%= render "works" %>

<%= render "about" %>

<%= render "contact" %>

<footer></footer>

<script>
	$(function() {

		$(window).bind('scroll',function(e){
		    parallaxScroll();
		});

		function parallaxScroll(){
	    var scrolled = $(window).scrollTop();
	    $('#back_wave').css('top',(470+(scrolled*.05))+'px');
	    $('#mid_wave').css('top',(520-(scrolled*.25))+'px');
	    $('#front_wave').css('top',(530+(scrolled*.08))+'px');
		}

		var overlay = jQuery('<div id="overlay"> </div>');
		overlay.appendTo(document.body);
		overlay.hide();

		var mr = $("#my_resume");
		mr.hide();
		mr.zoom();

		var cf = $('#contact_form');
		cf.hide();

		// hide info for larger screens
		var nci = $('#nav_contact_info');
		nci.hide();

		var xOut = $('#x_out_resume');
		xOut.hide();

		// toggles visibility of contact info for small screens
		$("#nav_contact_wrapper_small").click(function(event){
    	event.preventDefault();
      nci.toggle('fast');
    });

    $("#resume_icon").click(function(event){
    	event.preventDefault();
    	overlay.fadeIn(200);
      mr.fadeIn(600);
      xOut.fadeIn(600);
    });

    xOut.click(function(event){
    	event.preventDefault();
      $(this).fadeOut(600);
      overlay.fadeOut(900);
      mr.fadeOut(600);
    });

    $(".x_out").click(function(event){
    	event.preventDefault();
    	cf.fadeOut(600);
      overlay.fadeOut(900);
    });

	});
</script>